<h1><a href="index.html">{{title}}</a></h1>


<div class="form-group">
  <input [(ngModel)] = 'query' type="text" #box (keyup.enter)="onEnter(box.value)" 
  placeholder="Search movies, series or TV shows" class="form-control">
  <button (click)="getMovies()">Buscar</button>
</div>

<div *ngIf = "movies" class="container">
<table>
  <tr>
    <th>Id</th>
    <th>Título</th>
  </tr>
  <tr *ngFor = "let movie of movies" (click)="onSelect(movie)" [class.selected]="movie === selectedMovie">
    <td>{{movie.id}}</td>
    <td>{{movie.title}}</td>
  </tr>
</table>
</div>

<app-details [movie]= "selectedMovie" > </app-details>